.tweet{
  width: 100%;
  border: solid 3px black;
  margin: 0 auto;
  margin-top: 50px;
  word-wrap: break-word;
}

.tweet footer{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  padding: 15px 20px;
  width: 95%;
  margin: 0 auto;

}
.flag, .retweet, .heart{
  color: #4056A1;
}

.tweet header div:first-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px;
}

.content-header{
  padding: 25px 20px;
  
}
.tweet header{
  width: 95%;
  margin: 0 auto;
  border-bottom: solid 3px black;
}
.tweet:hover{
  box-shadow: 3px 3px rgb(13, 157, 205);
}

.pro-pic{
  padding-right: 10px;
  height: 45px;
  width: 60px;
}
.pro-pic-name{
  display: inline-flex;
  align-items: center;
 
}

.tweeter-handle{
  color: rgb(13, 157, 205);
  font-weight: bold;
}

.flag, .retweet{
  padding-right: 7px;
}
#tweet-container{
  display: flex;
  flex-direction: column;
}

.flag:hover, .retweet:hover, .heart:hover{
  color: green;
}

#tweet-container{
  font-family:  'Source Sans Pro';
}