.new-tweet{
  width: 90%;
  margin: 0 auto;
}

.new-tweet .submit-counter{
  border-top: solid 3px black;
  display: flex;
  justify-content: space-between;
  padding-top:20px;
  font-family: 'Bungee';
}
.new-tweet div button{
  background-color:#4056A1;
  color: white;
  border: none;
}

.new-tweet div:first-child{
  padding-bottom: 20px;
}

.new-tweet div textarea{
  border: none;
  color: black;
  background-color: transparent;
  outline: none;
  width: 100% ;
  height: 70px;
}


.error-message-container{
  display: flex;
  justify-content: center;
  color: red;
  font-weight:lighter;
  margin-top: 30px;
  
}
.error-message-container .error-message{
  border: 2px solid red;
  padding: 5px;
}

#btn:hover{
  border: 1px solid blueviolet;
  margin: -1px;
}

#submit-tweet{
  margin-top: 35px;
  width: 95%;
  margin-left:  auto;
  margin-right:  auto;
}

@media only screen and (max-width: 548px){

  .error-message-container .error-message{
    font-size: small;
  }
  
}